# npm
node_modules/
package-lock.json

# dist
.DS_Store
dist/

# enviroment
logs/
.env

# database
mongo/
mongo-test/
!src/data/mongo
postgres/
postgres-test/
!src/data/postgres

# test
.env.test
coverage/

# self certificate
key/
